.section-logos {
  background: #F2F2F1;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.22) !important;
  padding:30px 0;
  h6 {
    font-family:$open-sans;
    font-size:24px;
    color:#5D7278;
    font-weight:400;
  }
  img {
    max-width:325px;
    @media (max-width:767px) {
      max-width:275px;
    }
  }
  .col-1 {
    text-align:right;
  }
  .col-2 {
    text-align:left;
  }
  @media (max-width:767px) {
    .col-1, .col-2 {
      text-align:center;
    }
    .col-1 {
      margin-bottom:20px;
    }
  }

}