.section-meet-the-team {
  h2 {
    color:#CD6A72;
    margin-bottom:50px;
  }
  .col-1 {
    padding-right:40px;
    img {
      border-radius:16px;
    }
  }
  .col-2 {
    h3 {
      color:#4C8481;
      font-weight:400;
      margin-bottom:15px;
      .dmd {
        font-size:31px;
      }
    }

  }
  p {
    line-height:28px !important;
  }
  @media (max-width:991px) {
    .col-1 {
      text-align:center;
      margin-bottom:20px;
      padding-right:15px;
    }
    h2 {
      margin-bottom:20px;
    }

  }
  @media (max-width:480px) {
    .col-2 {
      h3 {
        font-size:28px;
        .dmd {
          font-size:24px;
        }
      }
    }
  }
}

.shaded-divider-wrap {
  margin-top:30px;
  img {
    width:100%;
    background-size:cover;
  }
}

.carousel-wrap {
  padding-bottom:80px;
  @media (max-width:991px) {
    padding-bottom:30px;
  }
}

.meet-the-team-below {
  background:url('../images/team-video-bg.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  .container {
    height:285px;
  }
  .video-wrap {
    padding:80px;
    .embed-responsive {
      position:relative;
      top:-45px;
      iframe {
        border:2px solid #FFF !important;
      }
    }
  }
  .img-wrap {
    position: absolute;
    top:-55px;
  }
  @media (max-width:1200px) {
    .container {
      height:240px;
    }
    .img-wrap {
      top:-40px;
    }
    .video-wrap {
      padding:70px;
      .embed-responsive {
        top:-37.5px;
      }
    }
  }
  @media (max-width:991px) {
    height:initial;
    .container {
      height:initial;
    }
    .img-wrap {
      position:relative;
      top:initial;

    }
    .video-wrap {
      padding:40px 0;
      .embed-responsive {
        top:initial;
      }
    }
  }


}
