.section-our-services {
  background:#FFF;
  h2 {
    color:#CD6A72;
    margin-bottom:10px;
  }
  .description {
    color:#4B4B4B;
    a {
      text-decoration:underline !important;
      color:#33CFC5;
    }
  }
  @media (max-width:480px) {
    p {
      font-size:16px;
    }
  }
  @media (max-width:991px) {
    p {
      margin-bottom:0;
    }
  }

}


.services {
  h3 {
    color:#5A8D89;
    margin-bottom:20px;
    font-size:45px;
    font-family:$poppins;
    font-weight:400;
    @media (max-width:1200px) {
      font-size:36px;
    }
    @media (max-width:767px) {
      font-size:32px;
    }
    @media (max-width:480px) {
      font-size:22px;
    }
  }
  p {
    color:#4B4B4B;
    @media (max-width:480px) {
      font-size:16px;
    }
  }

}
.services-below {
  img {
    width:100%;
  }
}

.section-smile-makeovers {
  padding:200px 0;
  background:url('../images/cosmetic.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:100% 100%;
  @media (max-width:991px) {
    padding:30px 0 0 0;
    background:#FFF;
  }
}

.section-dental-implant-restoration {
  padding:200px 0;
  background:url('../images/implants.jpg');
  background-size:cover;
  background-position:0% 100%;
  background-repeat:no-repeat;
  @media (max-width:1200px) {
    background-position:20% 100%;
  }
  @media (max-width:991px) {
    padding:30px 0 0 0;
    background:#FFF;
  }
}

.section-invisalign {
  padding:200px 0;
  background:url('../images/invisalign.jpg');
  background-size:cover;
  background-position:100% 100%;
  background-repeat:no-repeat;
  .img-wrap {
    margin-bottom:20px;
    width:95%;
  }
  @media (max-width:1200px) {
    background-position:80% 100%;
  }
  @media (max-width:991px) {
    padding:30px 0 0 0;
    background:#FFF;
  }
}

.section-more-services {
  background:url('../images/service-carousel-bg-green-linen.jpg');
  h2 {
    color:#FFF;
    margin-bottom:0;
  }
  p {
    color:#FFF;
    margin-bottom:40px;
  }
  @media (max-width:480px) {
    p {
      font-size:16px;
    }
  }
  .owl-carousel {

    .owl-prev, .owl-next {
      opacity:1 !important;
      top:35%;
      width:50px;
      height:50px;
      border-radius:9999px;
      display:flex;
      color:#FFF !important;
      justify-content:center;
      align-items: center;
      align-self:center;
      background:rgba(255, 255, 255, .39);
      border:none;
      @media (max-width:991px) {
        top:30%;
      }
      @media (max-width:480px) {
        top:35%;
      }
      &:hover {
        color:#FFF;
      }
    }
    .owl-prev {
      left:-36px !important;
      @media (max-width:480px) {
        left:-36px !important;
      }

    }
    .owl-next {
      right:-36px !important;
      @media (max-width:480px) {
        right:-36px !important;
      }
    }
    .owl-nav {

    }


    h4 {
      margin-top:20px;
      color:#FFF;
      font-size:22px;
      font-weight:400;
      line-height:32px;
    }
    img {
      border-radius:16px;
    }

  }

  //#oc-portfolio-2 > div.owl-nav:nth-of-type(2) {
  //  display:none;
  //}
}