#slider, .swiper-wrapper, .swiper-slide {
  max-height:800px;
}
.slide-1 {
  background:url('../images/slide1.jpg');
  background-position:100% 100%;
  h1 {
    font-family: $source-sans-pro;
    font-weight:700 !important;
    font-size: 96.45px;
    color: #FFFFFF;
    letter-spacing: 1.6px;
    line-height: 77px;
  }
  h2 {
    text-transform:none;
    font-size:66.4px;
    font-family:$poppins;
    font-weight:300 !important;
    color:#FFF !important;
    margin-bottom:80px;

  }
  h6 {
    font-family: $montserrat;
    font-weight:700;
    font-size: 31.45px;
    color: #444444;
    letter-spacing: 0.52px;
    margin-bottom:30px;
  }
  @media (max-width:1199px) {
    h1 {
      font-size:72px;
      margin-bottom:10px;
    }
    h2 {
      font-size:54px;
    }
    h6 {
      font-size:28px;
    }
  }
}

.slide-2 {
  background:url('../images/slide2.jpg');
  background-position:100% 100%;


  h2 {
    text-align:center;
    font-size:50.4px;
    font-weight:300;
    font-family:$poppins;
    color:#FFF !important;
    letter-spacing:0 !important;
    text-transform:none;
    margin-bottom:0;
  }
  .h2-1 {
    margin-bottom:5px;
  }
  .h2-2 {
    margin-bottom:15px;
    font-size:56px;
    font-family:$source-sans-pro;
    font-weight:700 !important;
  }
  .star-set {
    text-align:center;
    margin-bottom:10px;
    .icon-star3 {
      color:#FFD900;
      font-size:45px;
      margin:0 3px;
    }
  }
  p {
    font-family: $open-sans;
    font-size: 31px;
    color: #FFFFFF;
    letter-spacing: -0.32px;
    line-height: 44px;
    text-align:center;
    margin-bottom:40px;
    .author {
      font-weight:700;
    }
  }
  .button {
    margin:0 auto;
  }
  .slider-caption {
    margin-left:-55px;
  }
  @media (max-width:1200px) {

    .h2-1 {
      font-size:48px;
    }
    .h2-2 {
      font-size:52px;
    }
  }


}

.slide-3 {
  background:url('../images/slide3.jpg');
  h2 {
    font-family:$poppins;
    font-weight:700 !important;
    font-size:70px;
    color: #FFFFFF !important;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50) !important;
    margin-bottom:10px;
  }
  h3 {
    font-family: $source-sans-pro;
    font-weight:400;
    font-size: 48px;
    color: #FFFFFF !important;
    line-height: 42.9px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    margin-bottom:80px;
  }
  h4 {
    font-family: $source-sans-pro;
    font-weight:400 !important;
    font-size: 42px;
    color: #FFFFFF;
    margin-bottom:0;
    line-height: 47px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  }
  .button {
    margin-top:40px;
  }
  @media (max-width:1200px) {
    h2 {
      font-size:60px;
    }
    h3 {
      font-size:42px;
    }
    h4 {
      font-size:36px;
    }
    .button {
      max-width:300px;
    }
  }
}

.slide-1, .slide-2, .slide-3 {
  background-size:cover;
  background-repeat:no-repeat;
}

#slider {
  padding:0;
}

.mobile-slide {
  img {
    width:100%;
  }
}

.one-page-arrow {
  font-size:45px;
  i {
    color:#FFF;
    &:hover {
      color:#FFF;
    }
  }
}

.text-box-name {
  position:absolute;
  bottom:0;
  right:0;
  padding:25px 50px 25px 25px;
  p {
    font-family: $source-sans-pro;
    font-weight:300;
    font-size: 30.71px;
    color: #FFFFFF;

  }

  span {
    font-size:26px;
  }
}